.album {
  height: 400px;
  width: 600px;
  border: 5px solid red;
  margin: 30px;
  }

   .social-icons {
      display: flex;
      flex-direction: column;
    }

    footer {
      transform: 
      rotate(90deg)
      translate(-3rem, -5rem);
    } 
  
  